<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center" style="color: black; font-size: 20px;"><b>Sorry we couldn't process your request
        currently. <br> Please try again</b></h1>


    <a href="{{ url_for('main') }}">
      <button type="submit" class="btn btn-info text-center" style="
    color: black;
    font-weight: bold;
    margin: 1rem;">
        Try again
      </button>
</body>
</html>