<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="plant.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/plant.css') }}">
    <title>My Plants</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li>
                <form action="">
                   <input type="checkbox" name="" id="rice" onchange="validate()"><label for="rice"> Rice </label>
                </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="maize" onchange="validate()"><label for="maize"> Maize </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="chickpea" onchange="validate()"><label for="chickpea"> Chickpea </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="rajma" onchange="validate()"><label for="rajma"> Rajma </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="pigeon" onchange="validate()"><label for="pigeon"> Pigeon Pea </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="mung" onchange="validate()"><label for="mung"> Mung </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="blackgram" onchange="validate()"><label for="blackgram"> Blackgram </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="lentil" onchange="validate()"><label for="lentil"> Lentil </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="pomegranate" onchange="validate()"><label for="pomegranate"> Pomegranate </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="banana" onchange="validate()"><label for="banana"> Banana </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="mango" onchange="validate()"><label for="mango"> Mango </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="grapes" onchange="validate()"><label for="grapes"> Grapes </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="watermelon" onchange="validate()"><label for="watermelon"> Watermelon </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="muskmelon" onchange="validate()"><label for="muskmelon"> Muskmelon </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="orange" onchange="validate()"><label for="orange"> Orange </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="papaya" onchange="validate()"><label for="papaya"> Papaya </label>
                 </form>
            </li>
            <li>
                <form action="">
                    <input type="checkbox" name="" id="coconut" onchange="validate()"><label for="coconut"> Coconut </label>
                 </form>
            </li>
        </ul>
    </div>

    <div class="toggle" onclick="toggleMenu()"> </div>

    <h1>A  </h1> <h1 class="back">GUIDE </h1> <h1>FOR YOUR CROP...</h1>

    <!-- for rice   ###################################################################################################################### -->

    <div class="plant" id="Rice">
        <h2>RICE</h2>

        <section class="first">

            <div class="left">
        
        <div class="div1">
        <h4>General Information</h4>
        <p>Rice is the most important food crop of India covering about one-fourth of the total cropped area and providing food to about half of the Indian population.</p>
        </div>
        
        <div class="div2">
        <h4>Land Preparation</h4>
        <p>After harvesting of wheat grow dhaincha (seed rate 20 kg/acre) or sunhemp @ 20 kg/acre or cowpea @ 12 kg/acre up to first week of May. When crop is of 6-8 week old, bury them into the soil one day before transplanting of paddy. It will save 25 kg of N per acre. Use laser land leveler for land levelling. After then puddle soil and to obtained fine well levelled puddle field to reduce water loss through percolation.</p>
        </div>
            </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

        </section>

        
        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Before sowing, soak them in 10 Ltr water containing, Carbendazim@20gm+ Streptocycline@1gm for 8 to 10 hour before sowing. After then dry seeds in shade. And then use for sowing.</p>
        </div>

        <section class="second">

        <div class="left">

        <h4>Irrigation</h4>
        <p>Keep field flooded up to two weeks after transplanting. When all water gets infiltrated two day after apply irrigation in field. Depth of standing water should not exceed 10 cm. While doing intercultural and weeding operation, drain out excess water from field and irrigate field after completion of this operations. Stop irrigation about a fortnight before maturity to facilitate easy harvesting.</p>
        </div>    

        <div class="right">
        <h4>Post Harvest</h4>
        <p>The post-harvest method includes some procedures which include the interval from harvest to utilization 1) harvesting 2) threshing 3) cleaning 4) drying 5) warehouse 6) milling then transport to the trade.

            Before the storage of grains to protect harvested stuff from pest and disease attack, mix 500 gm Neem seed dust with 10 Kg of seed. To protect stored grains from pests attacked Mix Malathion 50 EC@30 ml/3 Ltr of water. Spray for 1002meter storage area at every 15 days.</p>
        </div>
        </section>
        
    </div>


    <!-- for maize   ###################################################################################################################### -->

    <div class="plant" id="Maize">
        <h2>MAIZE</h2>
        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>Maize (Zea mays L) is second rated grain that is used collectively in form of foodstuff or fodder. Globally, maize is known as queen of cereals because it has highest genetic yield potential among the cereals. Maize can be cultivated in any soil as they require less fertile soil and various chemicals. Moreover, it fetch less ripening span, 3 months, in comparison to paddy, which takes 145 days.
        </p>
        </div>

        <div class="div2">
        <h4>Land Preparation</h4>
        <p>For cultivation selected land should be free from weeds and remains of previously grown crop. Plough the land to bring the soil to fine tilth. It may take 6 to 7 plough. Apply 4-6 tons/acre of well decomposed cow dung across the field, also apply 10 Azospirillum packets in field. Prepared furrow and ridges with 45 cm to 50cm spacing.</p>
        </div>
          </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

        </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>To protect seeds from soil borne diseases and insect pest, seed treatment is necessary. To protect seeds from downy mildew, treat the seed with Carbendazim or Thiram@2 gm/kg of seeds. After chemical treatment, treat seed with Azospirillum@600 gm+ rice gruel. After treatment shade dry seeds for 15-20 minutes. Azosprillum helps in fixing of atmospheric nitrogen in the soil</p>
        </div>

        <section class="second">

            <div class="left">
    
        <h4>Weed Control</h4>
        <p>Weeds are the serious problem in maize, particularly during kharif/monsoon season they competes with maize for nutrient and causes yield loss upto 35%. Therefore, timely weed management is needed for achieving higher yield. Take atleast one or two hand weeding in maize crop. First 20-25 days after sowing and second when on 40-45 days after sowing. If weed infestation is high, spray with Atrazine @500 gm per 200 Ltr of water. After weeding, apply fertilizer as top dressing and carry out earthing up operation.

            <br>

            <b>Thinning and Gap filling:</b>  Thinning means removing excess plant and keep only healthy seedlings and maintained plant to plant distance of 20 cm. Carry out thinning operation at time of first hoeing. Do gap filling with seedling of 4-6 days older than main crop at time of first irrigation.</p>

            </div>    

        <div class="right">
        <h4>Deficiency and their remedy</h4>
        <p>Zinc Deficiency <br>
            Mostly observed in areas having use of high yielding variety. Broad band of white-yellow along with reddish veins are appeared on each side of mid rib on second or third leaf from top of plant. <br>
            To overcome zinc deficiency, apply Zinc Sulphate@10 kg/acre at time of sowing. If deficiency is observed in standing field, apply Zinc Sulphate and mixed with equal quantity of dry soils and apply along the rows.</p> 
        </div>
        </section>
        
    </div>
    

    <!-- for chickpea   ###################################################################################################################### -->

    <div class="plant" id="Chickpea">
        <h2>CHICKPEA</h2>
        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>Gram commonly known as chick pea or Bengal gram is the most important pulse crop of India. It is used for human consumption as well as for feeding to animals. Fresh green leaves are used as vegetable while straw of chickpea is an excellent fodder for cattle.
        </p>
        </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p>Very fine and compact seedbed is not good for chick pea, it required rough seed bed. If it is cultivated as mix crop the land should be plough to fine tilth. If chick pea crop is taken after a kharif fellow carry out one deep ploughing during the monsoon as it will help to conserved rain water. Before sowing plough the land only once. If soil appears to be deficient in moisture run a roller about a week before sowing.</p>
        </div>
               </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

        </section>

        <div class="div3">

        <h4>Seed Treatment</h4>
        <p>To prevent seeds from soil borne disease they should be treated with fungicide Carbendazim 12% + Mancozeb 63%WP(Saaf)@2 gm/kg of seed before sowing. In termite affected soil, treat seeds with Chlorpyrifos 20EC@10 ml/kg of seeds before sowing. <br>
            Inoculate seed with Mesorhizobium, it will increased productivity of gram and increased yield by 7%. For that first moisten seed with water then apply single packet of Mesorhizobium on seeds. After inoculation dry seeds in shed.</p>
        </div>

        <section class="second">

            <div class="left">

        <h4>Weed Control</h4>
        <p>To keep check on weeds, take first hand weeding or with wheel hoe 25-30days after sowing and second if needed after 60 days of sowing. Simultaneously for effective weed control, pre-emergence application of Pendimethalin @ 1Litre/200Litre water on third day after sowing for one acre land. It will help for controlling annual weeds. In case of less infestation, hand weeding or inter culture with the help of hoe is always better than herbicides because inter culture operations improve aeration in the soil.</p>
          </div>    

        <div class="right">

        <h4>Post Harvest</h4>
        <p>Grains of harvested crop must be well dried before storage. And take care to avoid the pulse beetle infestation in storage.</p> 
        </div>
        </section>       
    </div>

    <!-- for rajma   ###################################################################################################################### -->

    <div class="plant" id="Rajma">
        <h2>RAJMA</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>Kidney beans is also known as the chilli bean because of its dark red color and the visually resemblance the shape of a kidney. Kidney beans are a good source of protein also it is excellent source of molybdenum. It contain good source of cholesterol-lowering fibre
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p>Give two to three ploughing to bring soil at fine tilth. Make field level so that water stagnation should not occurred in main field. Crop is very sensitive to water logging. At last ploughing apply Farmyard Manure or well decomposed cow dung@60-80qtl/acre.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Before sowing treat seeds with Thiram@4gm per Kg of seeds. Dried seed in shade and then sown immediately.</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p> Initial growth period is crucial for crop growth. Avoid weed infestation at this stage. Complete weeding operations synchronized along with fertilizer and irrigation operations. Use Fluchloralin@ 800ml/acre or Pendimethalin@1ltr per acre as pre-emergence weedicide. </p>
        </div>    

        <div class="right">

        <h4>Post Harvest</h4>
        <p>Kidney beans required little processing after harvesting but take care during storage to maintain good quality. Before storing, do sorting and remove damaged, infected beans. Heat and humidity cause deterioration in quality so always stored beans in cool, dark and dry place. </p> 
        </div>
        </section>   
        
    </div>


    <!-- for pegion pea   ###################################################################################################################### -->

    <div class="plant" id="Pigeon">
        <h2>Pigeon Pea</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>It is a popular pulses crop and it is rich source of Protein. It is cultivated in tropical and semitropical regions. It is important legumes crop of rain fed and semi-arid tropics and it can grow as single crop or intermixed with cereals.
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p>Prepared land by taking one deep ploughing followed by two or three times harrowing. Planking should be followed after each ploughing. It cannot withstand in water logging conditions, prepared field in such a way that water stagnation should not take place. <br> Crop Rotation: Follow crop rotation of Arhar with Wheat or Barley or Sufed Senji or Sugarcane.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Select healthy seeds and bold seeds for sowing. Treat seeds with Carbendazim or Thiram@2gm per Kg of seeds. After chemical treatment, treat seed with Trichoderma viride@4gm/kg of seeds or Pseudomonas Fluorescens@10gm/Kg of seeds</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p> Take one hoeing, about three weeks after sowing and another hoeing about six week after sowing. Apply Pendimethalin @ 1Ltr/acre in 150-200ltr of water as pre-emergence herbicide within 2 days after sowing, followed by hand weeding six to seven weeks after sowing. </p>
        </div>    

        <div class="right">

        <h4>Post Harvest</h4>
        <p>Grains of harvested crop must be well dried before storage. And take care to avoid the pulse beetle infestation in storage. </p> 
        </div>
        </section>   
        
    </div>
    

    <!-- for mung   ###################################################################################################################### -->

    <div class="plant" id="Mung">
        <h2>Mung</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>Green gram also known as moong is one of the main pulse crop of India. It is a rich source of Protein along with fibre and iron. It can be cultivated as Kharif as well as summer crop.
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p>To bring soil to fine tilth give two to three ploughing. After each ploughing carry out planking.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Seed should be treated with Captan or Thiram @3 gm/kg of seed before sowing.</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p> To keep field weed free, do one or two hoeing, first hoeing four week after sowing and second hoeing two week after first hoeing are required. To control weed chemically, apply Fluchloralin @ 600ml/acre or Trifluralin @ 800 ml/acre before sowing (take sowing on same day). Also after sowing, within two days, take spray of Pendimethalin @ 1Ltr/acre in 100-200 Ltrs of water.</p>
        </div>    

        <div class="right">

        <h4>Harvesting</h4>
        <p>Best time of harvesting when 85% of pods get matured. Over-ripening of pods should be avoided as produce may be lost due to shattering. Do harvesting with sickle. After harvesting carried out threshing. After threshing, seeds are cleaned and dried in the sunshine. </p> 
        </div>
        </section>   
        
    </div>


    <!-- for  blackgram  ###################################################################################################################### -->

    <div class="plant" id="Blackgram">
        <h2>Blackgram</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p>It is one of the most important pulse crops of India. It is rich source of protein and phosphoric acid.
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p> To bring soil to fine tilth give two to three ploughing. After each ploughing carry out planking. Keep field weed free.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Before sowing treat seeds with Captan or Thiram or Mancozeb or Carbendazim@2.5gm per kg of seeds. After then dry them in shades. After chemical treatment treat seed with Rhizobium@2gm/kg of seeds.</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p>  To keep field weed free, one or two hoeing are required. Take first hoeing one month after sowing. To control weed chemically, after sowing, within two days, take spray of Pendimethalin@1Ltr/acre in 100-200Ltrs of water.</p>
        </div>    

        <div class="right">

        <h4>Harvesting</h4>
        <p>Best time for harvesting of mash is when leaves are shed and pods become greyish black. Cut crop with sickle and then spread harvested crop on floor to dry. Then threshing is done and seeds are separated from pods. </p> 
        </div>
        </section>   
        
    </div>


    <!-- for  lentil  ###################################################################################################################### -->

    <div class="plant" id="Lentil">
        <h2>Lentil (masur)</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p> It is one of the most important protein rich pulse crop. It is mostly eaten as Dal by splitting into 2 cotyledons, deep orange red or orange yellow in color.
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p> In case of light soils, less tillage or soil manipulation is required to prepare seed-bed. One deep ploughing followed by 3-4 cross harrowing’s should be given in case of heavy soils. 2-3 ploughings are sufficient for proper pulverization of land. Levelling of field should also be done for proper distribution of water. Proper moisture should be present in the field at the time of sowing seeds.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Seed should be treated with Captan or Thiram @3gm/kg of seed before sowing.</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p>  Main weeds found in lentil are Chenopodium album (Bathua), Vicia sativa (ankari), Lathyrus spp (chatrimatri) etc. They can be controlled by 2 hoeing at 30 and 60 days interval. 45-60 days of weed free period should be maintained for proper crops stand and yield. Pre-emergence application of Stomp 30EC@550ml/acre with one hoeing at 50 days after sowing, helps in effective weed control.</p>
        </div>    

        <div class="right">

        <h4>Harvesting</h4>
        <p>Harvesting should be done at proper time when plant dry up and pods mature. Over-ripening of pods should be avoided as produce may be lost due to shattering. Plants should be beaten by sticks to thresh. After threshing, seed is cleaned and dried up in the sunshine. Moisture content should be 12% at the time of storage.</p> 
        </div>
        </section>   
        
    </div>

    <!-- for  pomegranate  ###################################################################################################################### -->

    <div class="plant" id="Pomegranate">
        <h2>Pomegranate</h2>

        <section class="first">

            <div class="left">

        <div class="div1">
        <h4>General Information</h4>
        <p> Pomegranate known as Anar in Hindi is commercial crop of India. Its origin lies in Persia.
        </p>
         </div>

        <div class="div2">

        <h4>Land Preparation</h4>
        <p> Plough the land for two - three times and bring soil to fine tilth. After then carry out planking operation to make land leveled and uniform.</p>
        </div>
        </div>

        <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

         </section>

        <div class="div3">
        <h4>Seed Treatment</h4>
        <p>Before sowing, dipped seedling or cutting in IBA solution of 1000PPM@1gm/litre of water..</p>
        </div>

        <section class="second">

        <div class="left">
        <h4>Weed Control</h4>
        <p> To control weeds, mulching can be done. Along with weed control, it helps to conserved moisture and reduces evaporation loss.
            <br>
            Training and Pruning:  Training and Pruning help in growth of fresh healthy shoots. It removes old also disease branches and avoids overcrowding of branches. It also maintains proper shape of plant.
        </p>
        </div>    

        <div class="right">

        <h4>Harvesting</h4>
        <p>After harvesting, stored fruits in shades for a one week. It will help in hardening of fruit skin. So that less damage is observed in transportation. Fruits are graded according to weight.</p> 
        </div>
        </section>   
        
    </div>

 <!-- for  banana  ###################################################################################################################### -->

 <div class="plant" id="Banana">
    <h2>Banana</h2>

    <section class="first">

        <div class="left">

    <div class="div1">
    <h4>General Information</h4>
    <p>Banana is the second most important fruit crop of India next to mango. It is available round the year and because of its taste, nutritive and medicinal value.
    </p>
     </div>

    <div class="div2">

    <h4>Land Preparation</h4>
    <p> Plough the land thoroughly atleast for 3-4 times in summer. At the time of last ploughing add about 10 tonnes of well rotten FYM or well decomposed cow dung and mix it well in soil. To level soil used blade harrow or laser leveler. In areas where nematode problem is prevalent, nematicides and fumigants are also added to pits before planting.</p>
    </div>
    </div>

    <img src="/static/styles/assets/farming-using-autonomous-cultivator.png" alt="">

     </section>

    <div class="div3">
    <h4>Seed Treatment</h4>
    <p>For planting, use healthy and uninfected sucker or rhizomes. Before planting, wash suckers and then dip in a solution of Chlorpyrifos 20EC@ 2.5ml/Litre of water. To protect the crop from rhizome weevil, before planting, dip suckers in Carbofuran 3%CG@33gm/sucker after then dry them in shade for 72 hours. To prevent suckers from nematode attacked, treat suckers with Carbofuran 3%CG@50gm/sucker. For fusarium wilt control, dip suckers in Carbendazim @2gm/litre of water solution for about 15–20 minutes.</p>
    </div>

    <section class="second">

    <div class="left">
    <h4>Weed Control</h4>
    <p> Remove weeds before planting by deep ploughing and cross harrowing. Take pre-emergence application of Diuron 80% WP@800gm/150Litre of water/acre, if infestation by the weed species.
    </p>
    </div>    

    <div class="right">

    <h4>Harvesting</h4>
    <p>After harvesting, curing, washing, grading, packaging, storage, transportation and marketing etc., are the main post harvest operations.
        Grading is done on basis of size, color, and maturity. Remove small, overripe, damaged and disease infected fruits. Fruits are generally harvested early in the season at a pre-mature stage to capture the market. Then mature fruits are ripened with lower doses of Ethrel for uniform colour development.
         </p> 
    </div>
    </section>   
    
</div>


         <!-- <script type="text/javascript">
             function toggleMenu(){
                 let navigation = document.querySelector('.navigation');
                 let toggle = document.querySelector('.toggle');
                 navigation.classList.toggle('active');
                 toggle.classList.toggle('active'); 
             }

             let cb = document.querySelector('#rice')
             if(cb.checked) {
                  document.querySelector("#Rice").style = "display : block";
             }
         </script> -->
         
   
     <div class="end">
            <button><a href="{{ url_for('main') }}">BACK TO HOME</a></button>
     </div>
     
</body>

<script type="text/javascript">
    function toggleMenu(){
        let navigation = document.querySelector('.navigation');
        let toggle = document.querySelector('.toggle');
        navigation.classList.toggle('active');
        toggle.classList.toggle('active'); 
    }

    // let cb = document.querySelector('#rice')
    function validate(){
    if(document.querySelector('#rice').checked==true) {
         document.querySelector("#Rice").style.display = "block";
    }
    else{
        document.querySelector("#Rice").style.display = "none";
    }

    if(document.querySelector('#maize').checked==true) {
         document.querySelector("#Maize").style.display = "block";
    }
    else{
        document.querySelector("#Maize").style.display = "none";
    }

    if(document.querySelector('#chickpea').checked==true) {
         document.querySelector("#Chickpea").style.display = "block";
    }
    else{
        document.querySelector("#Chickpea").style.display = "none";
    }

    if(document.querySelector('#rajma').checked==true) {
         document.querySelector("#Rajma").style.display = "block";
    }
    else{
        document.querySelector("#Rajma").style.display = "none";
    }

    if(document.querySelector('#pigeon').checked==true) {
         document.querySelector("#Pigeon").style.display = "block";
    }
    else{
        document.querySelector("#Pigeon").style.display = "none";
    }

    if(document.querySelector('#mung').checked==true) {
         document.querySelector("#Mung").style.display = "block";
    }
    else{
        document.querySelector("#Mung").style.display = "none";
    }

    if(document.querySelector('#blackgram').checked==true) {
         document.querySelector("#Blackgram").style.display = "block";
    }
    else{
        document.querySelector("#Blackgram").style.display = "none";
    }

    if(document.querySelector('#lentil').checked==true) {
         document.querySelector("#Lentil").style.display = "block";
    }
    else{
        document.querySelector("#Lentil").style.display = "none";
    }

    if(document.querySelector('#pomegranate').checked==true) {
         document.querySelector("#Pomegranate").style.display = "block";
    }
    else{
        document.querySelector("#Pomegranate").style.display = "none";
    }
    if(document.querySelector('#banana').checked==true) {
         document.querySelector("#Banana").style.display = "block";
    }
    else{
        document.querySelector("#Banana").style.display = "none";
    }
    }
</script>
</html>